.sec_1 {
    background-color: #2E2F42;
    text-align: center;
    padding: 472px 260px;
}
.hea_1{ 
    color: white;
    font-family: "Roboto";
    font-size: 56px;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: 0.02em;   
    line-height: 1.07;      
}
.button{
    border: none;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #4D5AE5;
    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    margin: 169px 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.header-3{
    font-family: "Roboto";
    font-weight: Medium;
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42; 
}
.parag-1{
    font-family: "Roboto";
    font-weight: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-3{
    background-color: #f4f4fd;
}
.header-2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.employees{
    background-color: #FFFFFF;
}
.emp-h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.emp-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.port-h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.port-h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.port-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.footer{
    color: #2E2F42;
}
.parag-2{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}